<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" data-th-replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <section>
        <div class=" container text-center" style="">
            <h1 class="mt-4">About Us</h1>
            <p class="mb-4 mt-4 text-center font-weight-normal">A Contact Management System (CMS) is a vital tool for individuals and businesses
                looking to efficiently manage their interactions and relationships with clients,
                customers, and partners. It serves as a centralized database that organizes and
                stores contact information, enabling users to streamline communication, enhance
                collaboration, and improve customer relationships.
            </p>

            <div class="text-center mt-4">
                <h1>Our Team</h1>
            </div>

            <div class="text-center">
                <div class="text-center border border-secondary bg-white pt-4 pb-4" >

                    <img src="/image/Pos.png.jpeg" style="height:200px; width:200px;" class="my_profile_picture rounded-circle">

                    <h3 class="mt-2 mb-2">Mohammad Akhtar Babu</h3>

                    <p class="text-secondary mt-3">Freelance Full Stack Developer</p>

                    <div class="text-center">
                        <a class="p-3" href=""><i class="fa fa-instagram"></i></a>

                        <a class="p-3" href=""><i class="fa fa-linkedin"></i></a>

                        <a class="p-3" href=""><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>